body{
    background-color: white;
    height:100%
}
#container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;


}
section{
    background-color: white;
    /*border: 5px solid white;*/
}
#head{
    grid-column: 1/4;
    grid-row: 1/3;
    background-color: lightgrey;
    padding-left: 20px;
    padding-top: 35px;
}
#head2{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: blue;
    padding-left: 20px;
    padding-top: 10px;
}
#article{
    grid-column: 1/3;
    grid-row: 4/7;
    background-color: lightgrey;
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 10px;
}
#aside{
    grid-column: 3/4;
    grid-row: 4/7;
    background-color: lightgrey;
    padding-left: 20px;
    padding-top: 10px;
}
#footer{
    grid-column: 1/4;
    grid-row: 7/8;
    background-color: lightgrey;
    padding-left: 20px;
    padding-top: 10px;
}